


* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;

}

nav{
    display: flex;
    justify-content: space-between;
}
nav  > ul{
    display: flex;
}
nav li{
    list-style: none;
    font-size: 1em;
    margin: 30px;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
}